.venv
mnist_data
assimilation_data/*
saved_models/*
assimilation_data/*
neural_manifold_control/mpc/set_point_control/*
neural_manifold_control/mpc/arc_1_control/*
neural_manifold_control/mpc/arc_2_control/*
neural_manifold_control/p_control/set_point_control/*
neural_manifold_control/reactive_control/p_control/*
latent_dynamics_model/inspection_plots
reference_trajectories/set_points
figures/raw_figures
figures/completed_figures
figures/data
figures/x_forecast*
__pycache__/
*.pyc
network_architectures/__pycache__/VAE.cpython-38.pyc
snn_scripts/__pycache__/test_SNN.cpython-38.pyc
